<footer role="contentinfo" aria-label="Footer">
  <div class="container-fluid footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="col-md-3">
            <div class="text-center">
              <img src="https://assets.rumsan.com/askbhunte/assets/ask-bhunte-white-logo.png	" height="170px" width="170px" />
            </div>
          </div>
        </div>
        <address class="col-md-3" itemscope="itemscope" itemtype="">
          <strong>HAVE QUESTIONS?</strong>
          <div class="row mt-2">
            <div class="col-1"><span class="fi cdc-icon-desktop x16" aria-hidden="true"></span></div>
            <div class="col">
              <span class="pl-1"><a href="https://askbhunte.com">www.askbhunte.com</a></span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-1"><span class="fi cdc-icon-phone x16"></span></div>
            <div class="col">
              <span class="pl-1" itemprop="telephone">+977 9801230040</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-1"><span class="fi cdc-icon-email x16"></span></div>
            <div class="col">
              <span class="pl-1" itemprop="url"><a href="mailto: team@askbhunte.co">team@askbhunte.com</a></span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-1"><span class="fi cdc-icon-clock_01 x16"></span></div>
            <div class="col">
              <span class="pl-1"><a href="">Open 10AM - 5PM (Mon to Fri)</a></span>
            </div>
          </div>
        </address>
        <div class="col-md-3 mt-3 mt-md-0">
          <ul>
            <li><strong>WHO WE ARE?</strong></li>
            <li><a href="https://askbhunte.com/about-us">Ask Bhunte</a></li>
            <li><a href="https://nava.care">Nava Care</a></li>
            <li>
              <a href="https://hamrolifebank.org"><i>Hamro</i> LifeBank</a>
            </li>
            <li>
              <a href="https://tech.rumsan.com">Rumsan Technologies</a>
            </li>
            <li><a href="https://rumsan.com">Rumsan Group of Companies</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-2 mt-md-0 connect-icons">
          <strong>CONNECT WITH US</strong>
          <br />
          <ul class="list-inline mt-3">
            <li>
              <a href="https://www.facebook.com/askbhunte/" target="_blank"
                ><span class="sr-only">Facebook</span><span class="fi cdc-icon-fb-white x24" aria-hidden="true"></span
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/AskBhunte" target="_blank"
                ><span class="sr-only">Twitter</span><span class="fi cdc-icon-twitter-white x24" aria-hidden="true"></span
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/askbhunte/?hl=en" target="_blank"
                ><span class="sr-only">Instagram</span><span class="fi cdc-icon-insta x24" aria-hidden="true"></span
              ></a>
            </li>
          </ul>
          <br class="d-none d-md-block" />
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Application Requirements; Jquery, Bootstrap, typeahead, A/B testing, AppJs, and foresee metrics  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/ab.js"></script>
<!-- <script src="/js/app.min.js"></script> -->
