<footer role="contentinfo" aria-label="Footer">
  <div class="container-fluid footer-wrapper" style="padding:5%;background:#222222">
    <div class="container">
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center connectWithUs">
          <ul class="footer-menu">
            <li style="display: inline;padding:0px 10px;"><a href="#">About</a></li>
            <li style="display: inline;padding:0px 10px;"><a href="#">Contributors</a></li>
            <li style="display: inline;padding:0px 10px;"><a href="#">Contact</a></li>
          </ul>
          <br />
          CONNECT WITH US<br />
          <ul style="margin-top:20px;">
            <li style="display: inline-block;padding:0px 10px;">
              <button class="shareBtn" data-js="facebook-share"><i class="fa fa-facebook-square fa-2x"></i></button>
            </li>
            <li style="display: inline-block;padding:0px 10px;">
              <button class="shareBtn shareBtnTw" data-js="twitter-share">
                <i class="fa fa-twitter-square fa-2x"></i>
              </button>
            </li>
            <li style="display: inline-block;padding:0px 10px;">
              <button class="shareBtn shareBtnIg" data-js="twitter-share">
                <i class="fa fa-instagram fa-2x"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-wrapper" style="background-color: #000000;margin:0px;">
    <div class="container">
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <p class="text-white copyrightSection">
            © Copyright 2020 the Record | All Rights Reserved
          </p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</footer>
<!-- Application Requirements; Jquery, Bootstrap, typeahead, A/B testing, AppJs, and foresee metrics  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/ab.js"></script>
<!-- <script src="/js/app.min.js"></script> -->
