<!DOCTYPE html>
<html lang="en-us" class="theme-blue cdc-home">
  <head>
    <% include layouts/header %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
      .imageBox {
        width: 100%;
        height: 240px;
        background-color: #ffffff;
      }
    </style>
  </head>

  <body class="no-js">
    <% include layouts/navbar %>
    <div class="container-fluid feature-area  d-md-block">
      <div class="container">
        <!--main news section starts-->
        <div class="row" style="margin:30px 0px;">
          <div class="col-md-5">
            <div class="imageBox text-center">
              <img
                src="https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg"
                alt=""
                style="max-width: 100%;max-height: 100%;"
              />
            </div>
          </div>
          <div class="col-md-4">
            <p class="newsCategory">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
            <h1 style="margin-top:0px;">
              <a href="#"
                >Govt. fumbling over Corona, Oli discharged, ride-sharing ban overturned, Nepal pro nuclear exploration and trade, a bolstered
                Right</a
              >
            </h1>
            <img src="img/circle.svg" class="" />
            <p class="author d-inline">The Record - <span class="date">March 15, 2020</span></p>
          </div>
          <div class="col-md-3">
            <img src="img/become-a-member.png" alt="become a member" height="341px" />
          </div>
        </div>
        <!--main news section ends-->

        <hr />
        <hr />

        <!--latest news section starts-->
        <div class="row latestNews">
          <div class="col-md-12">
            <h1>LATEST <img src="img/arrow.png" style="margin-left:10px;display: inline;" /></h1>
          </div>
          <!--latest news section body goes here contain feeds from array below-->
        </div>
        <!--latest news section starts-->

        <hr />

        <!--popular news section starts-->
        <div class="row popularNews">
          <div class="col-md-12">
            <h1>POPULAR <img src="img/arrow.png" style="margin-left:10px;display: inline;" /></h1>
          </div>
          <!--popular news section body goes here contain feeds from array below-->
        </div>
        <!--popular news section starts-->
      </div>
    </div>
    <div class="container-fluid feature-area d-md-block" style="background-color:#e4a039;padding:1%">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 style="font-size:50px;font-weight: 400;line-height: 60px;color:white">Get the best of</h2>
            <h1 style="font-size:90px;font-weight: 400;line-height: 90px;color:white">the Record</h1>
          </div>
          <div class="col-md-6">
            <form class="form-inline" style="margin:15% 5%">
              <div class="form-group mx-sm-3 mb-2">
                <input type="email" class="form-control" id="subscribeEmail" placeholder="PLACE YOUR EMAIL" />
              </div>
              <button type="submit" class="btn btn-custom mb-2">SUBSCRIBE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid feature-area d-md-block">
      <div class="container">
        <!--Explainers section starts-->
        <div class="row explainerNews">
          <div class="col-md-12">
            <h1>EXPLAINERS<img src="img/arrow.png" style="margin-left:10px;display: inline;" /></h1>
          </div>
          <!--explainers section body goes here contain feeds from array below-->
        </div>
        <!--Explainers section starts-->
        <hr />
        <!--long reads section starts-->
        <div class="row longreadsNews">
          <div class="col-md-12">
            <h1>LONGREADS<img src="img/arrow.png" style="margin-left:10px;display: inline;" /></h1>
          </div>
          <!--long reads section body goes here contain feeds from array below-->
        </div>
        <!--longreads section starts-->
        <hr />
        <!--long reads section starts-->
        <div class="row featuresNews">
          <div class="col-md-12">
            <h1>FEATURES<img src="img/arrow.png" style="margin-left:10px;display: inline;" /></h1>
          </div>
          <!--long reads section body goes here contain feeds from array below-->
        </div>
        <!--longreads section starts-->
      </div>
    </div>
    <% include layouts/footer %>

    <script>
      let arr = [
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/73546366.cms_-851x638.jpg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/debashis-biswas-dyPFnxxUhYk-unsplash-809x638.jpg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        }
      ];
      arr.forEach(el => {
        $(".latestNews").append(`
      <div class="col-md-3" style="margin-bottom:20px;">
              <div class="media">
                  <img src="${el.img_source}" class="align-self-center mr-3" alt="" style="max-height:92px;min-height:92px;max-width: 124px;">
                <div class="media-body">
                  <h5 class="mt-0 latestTitle"><a href="${el.news_link}">${el.news_title}</a></h5>
                  <img src="img/circle.svg" class=""/>
              <p class="author d-inline"><span class="date">${el.news_date}</span></p>
                </div>
              </div>
            </div>`);
      });

      arr.forEach(el => {
        $(".popularNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
                      <div class="popularTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });

      arr.forEach(el => {
        $(".explainerNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
      arr.forEach(el => {
        $(".longreadsNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
      arr.forEach(el => {
        $(".featuresNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
    </script>
  </body>
</html>
