<!DOCTYPE html>
<html lang="en-us" class="theme-blue cdc-home">
  <head>
    <% include layouts/header %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body class="no-js">
    <% include layouts/navbar %>
    <div class="container-fluid feature-area d-none d-md-block">
      <img
        src="https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg"
        style="width:100%;min-height: 100%;"
      />
      <figcaption class="figure-caption text-right imageCaption">
        <i class="fa fa-camera" style="color: #000000;"></i> A caption for the above image.
      </figcaption>
    </div>
    <div class="container-fluid feature-area d-none d-md-block">
      <div class="container">
        <!--news title and meta info-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1 class="singlePostTitle">
              Govt. fumbling over Corona, Oli discharged, ride-sharing ban overturned, Nepal pro nuclear exploration and trade, a bolstered Right
            </h1>
            <img src="img/circle.svg" />
            <p class="author d-inline">The Record - <span class="date">March 15, 2020</span></p>
            <p class="readingTime d-inline">5 min read</p>

            <!--social share icons-->
            <ul class="float-right">
              <li style="display: inline-block;">
                <button class="postShareBtn" data-js="facebook-share"><i class="fa fa-facebook-square fa-2x"></i></button>
              </li>
              <li style="display: inline-block;">
                <button class="postShareBtn" data-js="twitter-share">
                  <i class="fa fa-twitter-square fa-2x"></i>
                </button>
              </li>
              <li style="display: inline-block;">
                <button class="postShareBtn" data-js="twitter-share">
                  <i class="fa fa-instagram fa-2x"></i>
                </button>
              </li>
              <li style="display: inline-block;">
                <button class="postShareBtn" data-js="twitter-share">
                  <i class="fa fa-whatsapp fa-2x"></i>
                </button>
              </li>
              <li style="display: inline-block;">
                <button class="postShareBtn" data-js="twitter-share">
                  <i class="fa fa-envelope fa-2x"></i>
                </button>
              </li>
            </ul>

            <!--actual post starts here-->
            <p class="postContent">
              “Her grandchildren took her to hospital in Nepalgunj after she had breathing difficulties and kept vomiting, but we had to bring her
              back after the doctors couldn’t cure her,” said her nephew Dhan Bahadur Kusunda Sen. Dhan Bahadur, who also chairs the Kusunda
              Development Committee, an alliance of Kusunda people across the country, described Gyani Maiya’s death as an irreparable loss to his
              community, which probably marks the beginning of the end of Kusunda identity. After Rajamama Kusunda’s death in 2018, Gyani Maiya was
              the only fluent native speaker of the Kusunda language. Kamala Khatri, who survives her elder sibling Gyani Maiya, can speak the
              language, but not as fluently. “It’s not an exaggeration to say her death marks the end of Kusunda identity,” said Uday Raj Ale, a
              non-native researcher who has prepared a handbook on Kusunda language and can speak it. Gyani Maiya’s death is an equally big loss for
              Nepal and for all those interested in languages and cultures. Linguists believe Kusunda is very likely the sole survivor of an ancient
              aboriginal population inhabiting the region before the advent of Tibeto-Burman and Indo-Aryan speaking peoples. “It is probable that
              other aboriginal languages existed alongside Kusunda in that prehistoric period, but they have ceased to exist. Petroglyphs, inscribed
              on the walls of caves and rock overhangs, can still be found in many parts of Nepal, attesting to the presence of possible multiple
              aboriginal populations,” wrote David E. Watters in his book Notes on Kusunda Grammar: a Language Isolate of Nepal. Watters and a team of
              Nepali linguists have prepared a Kusunda grammar book with the help of Gyani Maiya and a few other speakers. The Kusundas, who claim
              themselves to be Ban Rajas (Kings of the Forest), are one of the most endangered ethnic communities and are scattered mainly in the
              western region of Nepal. According to the National Population Census, only 273 people identified themselves as Kusunda in 2011. Until
              recently Kusundas, like Rautes, were leading a semi-nomadic existence, surviving mainly on birds, animals and plants found in the
              forest. “Hunting has now become a thing of the past as everyone is well settled in community life. Aunt Gyani Maiya and my father grew
              up in the forest and were living as nomads until 1974,” said Dhan Bahadur. Dhan Bahadur’s family also abandoned living off the forest as
              land ownership gained currency with the enforcement of the Land Acts 1964, which brought in thousands of new settlers to the foothills
              of western Nepal. This proved disastrous for nomadic people and disintegrated their social fabric.
            </p>
            <!--actual post ends here-->

            <!--author box starts-->
            <div class="shadow-none p-3 mb-5 bg-light rounded">
              <div class="media">
                <img
                  class="align-self-center mr-3"
                  src="http://1.gravatar.com/avatar/74df4f82c9f2edec8845d0ee6ce5ab35?s=96&d=mm&r=g"
                  alt="Generic placeholder image"
                />
                <div class="media-body">
                  <h5 class="mt-0">Gyanu Adhikari</h5>
                  <p class="mb-0">
                    Gyanu Adhikari is a co-founder and the editor of The Record.
                  </p>
                </div>
                <ul class="float-right">
                  <li style="display: inline-block;">
                    <button class="postShareBtn" data-js="facebook-share"><i class="fa fa-facebook-square fa-2x"></i></button>
                  </li>
                  <li style="display: inline-block;">
                    <button class="postShareBtn" data-js="twitter-share">
                      <i class="fa fa-twitter-square fa-2x"></i>
                    </button>
                  </li>
                  <li style="display: inline-block;">
                    <button class="postShareBtn" data-js="twitter-share">
                      <i class="fa fa-instagram fa-2x"></i>
                    </button>
                  </li>
                  <li style="display: inline-block;">
                    <button class="postShareBtn" data-js="twitter-share">
                      <i class="fa fa-whatsapp fa-2x"></i>
                    </button>
                  </li>
                  <li style="display: inline-block;">
                    <button class="postShareBtn" data-js="twitter-share">
                      <i class="fa fa-envelope fa-2x"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!--author box ends-->
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row featuresNews">
          <!--you may also like section-->
          <div class="col-md-12">
            <h1>
              You May Also Like
            </h1>
          </div>

          <!--you may also like section-->
        </div>
        <!--main news section ends-->
      </div>
    </div>
    <% include layouts/footer %>

    <script>
      let arr = [
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/73546366.cms_-851x638.jpg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/debashis-biswas-dyPFnxxUhYk-unsplash-809x638.jpg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        },
        {
          img_source: "https://www.recordnepal.com/wp-content/uploads/2020/03/coronavirus-threatening-the-whole-world.jpeg",
          news_title: "Community forest may be history if government denies user co",
          news_link: "#",
          news_date: "March 15, 2020",
          news_author: "The - Record"
        }
      ];
      arr.forEach(el => {
        $(".latestNews").append(`
      <div class="col-md-3" style="margin-bottom:20px;">
              <div class="media">
                  <img src="${el.img_source}" class="align-self-center mr-3" alt="" style="max-height:92px;min-height:92px;max-width: 124px;">
                <div class="media-body">
                  <h5 class="mt-0 latestTitle"><a href="${el.news_link}">${el.news_title}</a></h5>
                  <img src="img/circle.svg" class=""/>
              <p class="author d-inline"><span class="date">${el.news_date}</span></p>
                </div>
              </div>
            </div>`);
      });

      arr.forEach(el => {
        $(".popularNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
                      <div class="popularTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });

      arr.forEach(el => {
        $(".explainerNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
      arr.forEach(el => {
        $(".longreadsNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
      arr.forEach(el => {
        $(".featuresNews").append(`
      <div class="col-md-3">
      <div style="height: 192px;overflow: hidden;"><img src="${el.img_source}" style="width:100%;min-height:100%;" /></div>
      <p class="newsCategory" style="margin-top:15px;">WEEK IN POLITICS</p>
            <p class="readingTime">5 min read</p>
                      <div class="explainerTitle"><a href="${el.news_link}">${el.news_title}</a></div>
                      <img src="img/circle.svg" class=""/>
                      <p class="author d-inline">${el.news_author}<span class="date">${el.news_date}</span></p>
                      <p>How to fight an info-demic during an epidemic</p>
                </div>
                `);
      });
    </script>
  </body>
</html>
