.card-title {
  font-weight: 800;
}
#myVideo {
  width: 100%;
}
.theme-blue .accordion .card-header {
  border: none;
}
/* button[aria-expanded="true"] {
  background-color: red;
} */
@media only screen and (max-width: 700px) {
  #main-header-text {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 800;
  }
  #header-image {
    height: 25px;
    width: 25px;
  }
  #header-nepali {
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
  }

  #corona-stats-box {
    margin-top: 0% !important;
  }
}

h3 {
  margin-top: 12px;
  font-weight: 800;
  font-size: 24px;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", arial, sans-serif;
}

li {
  font-family: "Khand";
}
p {
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(35, 31, 32);
  letter-spacing: 0.5px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Vidaloka", serif;
  color: rgb(35, 31, 32);
}
h1 {
  font-family: "Vidaloka", serif;
  color: rgb(35, 31, 32);
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  margin: 20px 0px;
}
.singlePostTitle {
  font-family: "Vidaloka", serif;
  color: rgb(35, 31, 32);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.newsCategory {
  font-family: "khand";
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  background: #e4a039;
  color: white;
  padding: 5px 3px 0px 5px;
  text-transform: uppercase;
  display: inline-block;
}
.readingTime {
  font-family: "khand";
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.author {
  font-family: "khand";
  font-size: 13px;
  font-weight: 400;
}

.latestTitle {
  font-family: "Vidaloka", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(35, 31, 32);
  margin-top: 0px;
  margin-bottom: 0px;
}
.popularTitle {
  font-size: 19px;
  font-family: "Vidaloka", serif;
  color: rgb(17, 17, 17);
  font-weight: 400;
  line-height: 21px;
  padding-top: 10px;
  text-decoration: none;
}
.explainerTitle {
  font-size: 19px;
  font-family: "Vidaloka", serif;
  color: rgb(17, 17, 17);
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

a {
  color: rgb(35, 31, 32);
  text-decoration: none;
}
a:hover {
  color: #e4a039;
  text-decoration: none;
}
.connectWithUs {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: white;
}

.copyrightSection {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.shareBtn {
  display: block;
  margin-bottom: 4px;
  background-color: #005eaa;
  border: none;
  color: white;
  padding: 7px 9px;
  font-size: 14px;
  cursor: pointer;
}

.shareBtnTw {
  background-color: #00acee;
}
.shareBtnIg {
  background-color: #e4405f;
}

/* Darker background on mouse-over */
.shareBtn:hover {
  opacity: 0.7;
}

.postShareBtn {
  display: block;
  margin-bottom: 4px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 4px 8px;
  font-size: 11px;
  cursor: pointer;
}
.postShareBtn:hover {
  opacity: 0.7;
}
.btn-custom {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: normal;
  border: 1px solid #000000;
  border-radius: 30px;
  color: white;
  background-color: black;
  padding: 10px 30px;
}
.btn-custom:hover {
  border: 2px solid #000000;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}
input[type="email"] {
  border-radius: 30px;
}
::placeholder {
  color: #e1e1e1 !important;
  font-size: 14px;
}

.imageCaption {
  font-family: "khand";
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.postContent {
  font-size: 18px;
  color: rgb(88, 89, 91);
  line-height: 26px;
  display: inline-grid;
}

.footer-menu {
  font-family: "khand";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.footer-menu a {
  color: white;
}
.footer-menu a:hover {
  color: #e4a039;
}

footer .footer-wrapper ul {
  padding-left: 0;
  list-style-type: none;
}

footer .footer-wrapper ul.list-inline {
  display: inline-block;
  margin-bottom: 3px;
}

footer .footer-wrapper ul.list-inline li {
  float: left;
  margin-right: 10px;
}

footer .footer-wrapper ul.list-inline li img {
  width: 24px;
}

footer .footer-wrapper ul.list-inline li.rounded-circle {
  background-color: #fff;
  padding: 7px;
  margin-right: 7px;
}

.navbar-border {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-right: none;
  border-left: none;
}
.main-menu-styles {
  font-family: "khand";
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}
.btn-outline-dark {
  color: black;
  border-color: #d7d7d7;
}
